.card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;

  padding: 18px;

  border-radius: 12px;

  margin-bottom: 18px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, .08);

  transition: .2s;
}

.card:hover {
  transform: translateY(-2px);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.category {
  color: #6b7280;
}

.date {
  color: #9ca3af;
  font-size: 14px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.amount {
  color: #16a34a;
}

.deleteButton {
  border: none;

  background: #dc2626;

  color: white;

  padding: 8px 14px;

  border-radius: 6px;

  cursor: pointer;
}

.deleteButton:hover {
  background: #b91c1c;
}